.navbar {
  background-color: #7a2601;
  color: white;
  padding: 6px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  min-height: 80px;
  box-sizing: border-box;
  width: calc(100vw - 17px);
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar h1 {
  margin: 0;
  padding: 0;
  line-height: 1;
  flex-shrink: 0;
}

.navbar-center {
  display: flex;
  gap: 16px; /* distanza tra i bottoni */
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.nav-button {
  background-color: #7a2601;
  color: white;
  padding: 8px 20px;
  border-radius: 30px;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
  border: none;
  text-decoration: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #9f3304;
}

.nav-button.active {
  background-color: #bb4400;
  font-weight: 900;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
}

.cart-button {
  background-color: #7a2601;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 700;
  padding: 6px 14px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  line-height: 1;
  transition: background-color 0.3s ease;
}

.cart-button:hover {
  background-color: #9f3304;
}

.cart-count {
  background: #bb4400;
  border-radius: 9999px;
  padding: 2px 8px;
  font-size: 14px;
  color: white;
}

.login-link {
  padding: 8px 20px;
  border-radius: 30px;
  background-color: #7a2601;
  text-decoration: none;
  color: white;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  user-select: none;
  transition: background-color 0.3s ease;
}

.login-link:hover {
  background-color: #9f3304;
}
